
*.out
*.txt
dataset/simu2/eval/0/delta_0.1_data.txt
dataset/simu2/eval/0/delta_0.1_data.txt
dataset/simu2/eval/0/delta_0.1_data.txt
dataset/simu2/eval/0/delta_0.1_data.txt
dataset/simu2/eval/0/delta_0.1_data.txt
dataset/simu2/eval/0/delta_0.2_data.txt
