
*.out
*.txt
dataset/simu2/eval/0/delta_0.1_data.txt
dataset/simu2/eval/0/delta_0.1_data.txt
dataset/simu2/eval/0/delta_0.1_data.txt
dataset/simu2/eval/0/delta_0.1_data.txt
dataset/simu2/eval/0/delta_0.1_data.txt
dataset/simu2/eval/0/delta_0.2_data.txt
Untitled1.ipynb
.ipynb_checkpoints/Untitled1-checkpoint.ipynb
.ipynb_checkpoints/Untitled-checkpoint.ipynb
.ipynb_checkpoints/Untitled1-checkpoint.ipynb
Untitled.ipynb
Untitled1.ipynb
